<?xml version="1.0" encoding="UTF-8"?>
<Command>
  <aliases l="en"></aliases>
  <aliases l="ru">настройки конфиг</aliases>
  <aliases l="ua">налаштування конфіг</aliases>
  <cat>config</cat>
  <extra>keep_hide ghost afk</extra>
  <groups>
    <node>
      <node type="ConfigElement">
        <bit table="plr_flags">autoassist</bit>
        <hint>вступать в бой при нападении на группу</hint>
        <msgOff>Ты не будешь вступать в бой при нападении на твою группу.</msgOff>
        <msgOn>Ты будешь вступать в бой при нападении на твою группу.</msgOn>
        <name>autoassist</name>
        <rname>автопомощь</rname>
      </node>
      <node type="ConfigElement">
        <bit table="plr_flags">autogold</bit>
        <hint>забирать деньги из трупов</hint>
        <msgOff>Ты не будешь автоматически забирать деньги из трупов.</msgOff>
        <msgOn>Ты будешь автоматически забирать деньги из трупов.</msgOn>
        <name>autogold</name>
        <rname>автомонеты</rname>
      </node>
      <node type="ConfigElement">
        <bit table="plr_flags">autoloot</bit>
        <hint>забирать вещи из трупов</hint>
        <msgOff>Ты не будешь автоматически забирать все вещи из трупа врага.</msgOff>
        <msgOn>Ты будешь автоматически забирать все вещи из трупа врага.</msgOn>
        <name>autoloot</name>
        <rname>автограбеж</rname>
      </node>
      <node type="ConfigElement">
        <bit table="add_comm_flags">autolook</bit>
        <hint>заглядывать в труп после убийства</hint>
        <msgOff>Ты не будешь заглядывать в труп после убийства.</msgOff>
        <msgOn>Ты будешь заглядывать в труп после убийства.</msgOn>
        <name>autolook</name>
        <rname>автовзгляд</rname>
      </node>
      <node type="ConfigElement">
        <bit table="plr_flags">autosac</bit>
        <hint>приносить трупы в жертву после убийства</hint>
        <msgOff>Ты не будешь приносить в жертву труп после убийства.</msgOff>
        <msgOn>Ты будешь приносить в жертву труп после убийства.</msgOn>
        <name>autosac</name>
        <rname>автожертва</rname>
      </node>
      <node type="ConfigElement">
        <bit table="plr_flags">autosplit</bit>
        <hint>делиться с группой деньгами из трупов</hint>
        <msgOff>Ты не будешь делить деньги из трупа врага между членами своей группы.</msgOff>
        <msgOn>Ты будешь делить деньги из трупа врага между членами своей группы.</msgOn>
        <name>autosplit</name>
        <rname>автодележ</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">fightspam</bit>
        <hint>показывать ли боевые автоумения</hint>
        <msgOff>Ты не видишь парирований, уворотов и так далее.</msgOff>
        <msgOn>Тебе отображаются парирования, увороты и так далее.</msgOn>
        <name>fightspam</name>
        <rname>спамбой</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">skillspam</bit>
        <hint>показывать ли промахи умений</hint>
        <msgOff>Ты не видишь промахи умений.</msgOff>
        <msgOn>Тебе отображаются промахи умений.</msgOn>
        <name>skillspam</name>
        <rname>спамумения</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">weaponspam</bit>
        <hint>не показывать действия флагов оружия</hint>
        <msgOff>Ты видишь все действия {hh96флагов оружия{x.</msgOff>
        <msgOn>Ты не видишь действия {hh96флагов оружия{x.</msgOn>
        <name>noweaponspam</name>
        <rname>нетспаморужия</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">newdamage</bit>
        <hint>альтернативная система отображения повреждений</hint>
        <msgOff>Ты используешь обычную систему отображения повреждений.</msgOff>
        <msgOn>Ты используешь новую систему отображения повреждений.</msgOn>
        <name>newdamage</name>
        <rname>повреждения</rname>
      </node>
      <name>Настройки персонажа, связанные с боями:</name>
    </node>
    <node>
      <node type="ConfigElement">
        <bit table="add_comm_flags">nocancel</bit>
        <hint>запрет не-соклановикам применять заклинание отмена</hint>
        <msgOff>Заклинание &apos;отмена&apos; на тебя смогут применить все.</msgOff>
        <msgOn>Заклинание &apos;отмена&apos; на тебя смогут применить только соклановцы.</msgOn>
        <name>nocancel</name>
        <rname>неотменять</rname>
      </node>
      <node type="ConfigElement">
        <bit table="plr_flags">nofollow</bit>
        <hint>запретить следовать за собой</hint>
        <msgOff>Ты разрешаешь следовать за собой.</msgOff>
        <msgOn>Ты запрещаешь следовать за собой.</msgOn>
        <name>nofollow</name>
        <rname>неследовать</rname>
      </node>
      <node type="ConfigElement">
        <bit table="plr_flags">nosummon</bit>
        <hint>запретить не-соклановикам призывать вне ПК</hint>
        <msgOff>Тебя сможет призвать кто угодно.</msgOff>
        <msgOn>Вне твоего ПК тебя смогут призвать только соклановики.</msgOn>
        <name>nosummon</name>
        <rname>непризывать</rname>
      </node>
      <name>Защитные настройки:</name>
    </node>
    <node>
      <node type="ConfigElement">
        <bit table="plr_flags">holylight</bit>
        <hint>божественный взор</hint>
        <level>102</level>
        <msgOff>Божественный взор выключен.</msgOff>
        <msgOn>Божественный взор включен.</msgOn>
        <name>holylight</name>
        <rname>боговзор</rname>
      </node>
      <node type="ConfigElement">
        <bit table="comm_flags">show_affects</bit>
        <hint>показывать аффекты по команде счет</hint>
        <msgOff>Аффекты не видны по команде счет.</msgOff>
        <msgOn>Аффекты видны по команде счет.</msgOn>
        <name>affects</name>
        <rname>аффекты</rname>
      </node>
      <node type="ConfigElement">
        <bit table="plr_flags">autoexit</bit>
        <hint>отображать выходы из комнаты</hint>
        <msgOff>Выходы не отображаются автоматически.</msgOff>
        <msgOn>Выходы отображаются автоматически.</msgOn>
        <name>autoexit</name>
        <rname>автовыходы</rname>
      </node>
      <node type="ConfigElement">
        <bit table="add_comm_flags">autostore</bit>
        <hint>во время боя сохранять сообщения в буфер</hint>
        <msgOff>Сообщения, поступившие во время сражения, отображаются сразу же.</msgOff>
        <msgOn>Сообщения, поступившие во время сражения, сохраняются в буфере.</msgOn>
        <name>autostore</name>
        <rname>автобуфер</rname>
      </node>
      <node type="ConfigElement">
        <bit table="comm_flags">brief</bit>
        <hint>видеть сокращенное описание комнаты</hint>
        <msgOff>Описание комнаты отображается в полном виде.</msgOff>
        <msgOn>Описание комнаты отображается в сокращенном виде.</msgOn>
        <name>brief</name>
        <rname>кратко</rname>
      </node>
      <node type="ConfigElement">
        <bit table="plr_flags">color</bit>
        <hint>использование цветов</hint>
        <msgOff>Цвет выключен.</msgOff>
        <msgOn>{RЦ{Yв{yе{Gт{gо{Cм{cу{Bз{bы{Mк{mа{x, уиии!</msgOn>
        <name>color</name>
        <rname>цвет</rname>
      </node>
      <node type="ConfigElement">
        <bit table="comm_flags">combine</bit>
        <hint>комбинировать одинаковые вещи в списке</hint>
        <msgOff>Одинаковые вещи в списке предметов не группируются вместе.</msgOff>
        <msgOn>Одинаковые вещи в списке предметов группируются вместе.</msgOn>
        <name>combine</name>
        <rname>комбинировать</rname>
      </node>
      <node type="ConfigElement">
        <bit table="comm_flags">compact</bit>
        <hint>не выводить дополнительных строк</hint>
        <msgOff>Перед строкой подсказки будет выводиться дополнительная строка.</msgOff>
        <msgOn>Перед строкой подсказки не будет выводиться дополнительная строка.</msgOn>
        <name>compact</name>
        <rname>компактно</rname>
      </node>
      <node type="ConfigElement">
        <bit table="comm_flags">prompt</bit>
        <hint>выводить подсказку с параметрами персонажа</hint>
        <msgOff>Вывод {hh1012строки подсказки{x отключен.</msgOff>
        <msgOn>Вывод {hh1012строки подсказки{x включен.</msgOn>
        <name>prompt</name>
        <rname>подсказка</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">runames</bit>
        <hint>показывать имена игроков в русском варианте</hint>
        <msgOff>Имена игроков показываются по-английски.</msgOff>
        <msgOn>Имена игроков показываются по-русски.</msgOn>
        <name>runames</name>
        <rname>русимена</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">rucommands</bit>
        <hint>показывать команды в русском варианте</hint>
        <msgOff>Команды показываются по-английски.</msgOff>
        <msgOn>Команды показываются по-русски.</msgOn>
        <name>rucommands</name>
        <rname>рускоманды</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">ruskills</bit>
        <hint>показывать умения в русском варианте</hint>
        <msgOff>Умения показываются по-английски.</msgOff>
        <msgOn>Умения показываются по-русски.</msgOn>
        <name>ruskills</name>
        <rname>русумения</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">ruexits</bit>
        <hint>показывать выходы в русском варианте</hint>
        <msgOff>Выходы показываются по-английски.</msgOff>
        <msgOn>Выходы показываются по-русски.</msgOn>
        <name>ruexits</name>
        <rname>русвыходы</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">short_objflag</bit>
        <hint>показывать флаги на предметах в сокращенной форме</hint>
        <msgOff>Флаги на предметах отображаются в развернутом виде.</msgOff>
        <msgOn>Флаги на предметах отображаются в сокращенном виде.</msgOn>
        <name>objflag</name>
        <rname>предмфлаги</rname>
      </node>
      <node type="ConfigElement">
        <bit table="comm_flags">mildcolor</bit>
        <hint>использовать альтернативную (&apos;мягкую&apos;) цветовую схему</hint>
        <msgOff>Ты используешь стандартную (яркую) цветовую схему.</msgOff>
        <msgOn>Ты используешь &apos;мягкую&apos; цветовую схему.</msgOn>
        <name>mildcolor</name>
        <rname>мягкцвет</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">objname_hint</bit>
        <hint>показывать английское название предмета</hint>
        <msgOff>У предметов не будут показываться английские названия.</msgOff>
        <msgOn>Английские названия для предметов включены.</msgOn>
        <name>objname</name>
        <rname>имяпредмета</rname>
      </node>
      <node type="ConfigElement">
        <bit table="config_flags">screenreader</bit>
        <hint>режим поддержки screen reader</hint>
        <msgOff>Режим поддержки читалки для незрячих{x выключен.</msgOff>
        <msgOn>Режим поддержки читалки для незрячих{x включен.</msgOn>
        <name>screenreader</name>
        <rname>скринридер</rname>
      </node>
      <name>Настройки отображения:</name>
    </node>
    <node>
      <node type="ConfigElement">
        <bit table="config_flags">autoafk</bit>
        <hint>автоматическое АФК после 10 минут бездействия</hint>
        <msgOff>Ты не будешь уходить в АФК после 10 минут бездействия.</msgOff>
        <msgOn>Ты будешь уходить в АФК после 10 минут бездействия.</msgOn>
        <name>autoafk</name>
        <rname>автовок</rname>
      </node>
      <node type="ConfigElement">
        <bit table="add_comm_flags">noiac</bit>
        <hint>не заменять IAC на большое YA при выводе текста</hint>
        <msgOff>IAC-и будут заменяться другой буквой (YA в кодировке cp1251).</msgOff>
        <msgOn>Тебе будет пересылаться немодифицированный текст.</msgOn>
        <name>noiac</name>
        <rname>noiac</rname>
      </node>
      <node type="ConfigElement">
        <bit table="add_comm_flags">notelnet</bit>
        <hint>отключить фильтр TELNET на приходящий текст</hint>
        <msgOff>Фильтр TELNET включен.</msgOff>
        <msgOn>Фильтр TELNET отключен.</msgOn>
        <name>notelnet</name>
        <rname>notelnet</rname>
      </node>
      <node type="ConfigElement">
        <bit table="comm_flags">telnet_ga</bit>
        <hint>посылать последовательность TELNET GA после строки состояния</hint>
        <msgOff>Отправка TELNET GA отключена.</msgOff>
        <msgOn>Отправка TELNET GA включена.</msgOn>
        <name>telnetga</name>
        <rname>telnetga</rname>
      </node>
      <name>Настройки соединения:</name>
    </node>
  </groups>
  <help id="1087" labels="info" level="-1" type="CommandHelp">
    <extra l="en">autoassist autoexit autogold autolook autoloot autosac autosplit autostore</extra>
    <extra l="ru">автобуфер автодележ автограбеж автолут автомонеты автонастройка автоподбор автопомощь автожертва автовыходы автовзгляд</extra>
    <extra l="ua">автобуфер автоділ автограбунок автолут автомонети автонастройка автопідбір автодопомога автожертва автовиходи автовзгляд</extra>
    <text l="en">Write *%CMD%* to see all current settings.
To toggle any of them, write *%CMD%* _option_ *%YES%*|*%NO%* --
for example, *%CMD%* _autoload_ *%NO%* to stop looting
everything from corpses.

*autoassist* - allows your character to automatically assist players
             in your group in combat.
*autoexit* - enables display of visible room exits.
*autogold* - automatically takes money from the fallen enemies&apos; 
             corpses.
*autoloot* - automatically takes items from the fallen enemies&apos; 
             corpses.
*(autosac   ,aвтожертва)* - automatically sacrifices the corpse of a fallen enemy to the Gods.
*autosplit * - automatically shares the money from fallen enemies&apos;
             corpses among your group&apos;s players.
*autostore * - allows you to view everything said to you by other players
             after the battle ends.

%FMT%  *%CMD%* _option_
Shows the current state of the specified option.

%FMT%  *%CMD%* _option_ *%YES%*|*%NO%*|*switch*
Toggles the specified option.

%SA% %H% {hh1088brief{x, [noiac]</text>
    <text l="ru">Напиши *%CMD%*, чтобы увидеть список всех текущих настроек. 
Чтобы переключить любую из них, напиши *%CMD%* _опция_ *%YES%*|*%NO%* --
например, *%CMD%* _автограбеж_ *%NO%*, чтобы перестать брать
все подряд из трупов. 

*автопомощь* - позволяет твоему персонажу автоматически помогать игрокам
             твоей группы в бою.
*автовыходы* - включает отображение видимых выходов из комнаты.
*автомонеты* - автоматически забирает деньги из трупов поверженных
             тобой врагов.
*автограбеж* - автоматически забирает вещи из трупов поверженных тобой 
             врагов.
*(autosac   ,aвтожертва)* - автоматически жертвует Богам труп поверженного тобой врага.
*автодележ * - автоматически делит деньги из трупов поверженных тобой
             врагов между игроками твоей группы.
*автобуфер * - позволяет просматривать все сказанное тебе другими игроками,
             после окончания сражения.

%FMT%  *%CMD%* _опция_
Показывает текущее состояние указанной опции.

%FMT%  *%CMD%* _опция_ *%YES%*|*%NO%*|*переключить*
Включает-выключает указанную опцию.

%SA% %H% {hh1088кратко{x, [noiac]
</text>
    <text l="ua">Напиши *%CMD%*, щоб побачити список усіх поточних налаштувань.
Щоб переключити будь-яке з них, напиши *%CMD%* _опція_ *%YES%*|*%NO%* --
наприклад, *%CMD%* _автограбунок_ *%NO%*, щоб перестати брати
все підряд з трупів.

*автодопомога* - дозволяє вашому персонажу автоматично допомагати гравцям
             у вашій групі у бою.
*автовиходи* - включає відображення видимих виходів із кімнати.
*автомонети* - автоматично бере гроші з трупів повалених
             вашим ворогів.
*автограбунок* - автоматично бере речі з трупів повалених вами 
             ворогів.
*(autosac   ,автожертва)* - автоматично жертвує Богам труп поваленого вами ворога.
*автоділ* - автоматично ділить гроші з трупів повалених вами
             ворогів між гравцями вашої групи.
*автобуфер * - дозволяє переглядати все, що сказано вам іншими гравцями,
             після закінчення бою.

%FMT%  *%CMD%* _опція_
Показує поточний стан зазначеної опції.

%FMT%  *%CMD%* _опція_ *%YES%*|*%NO%*|*переключити*
Включає-виключає зазначену опцію.

%SA% %H% {hh1088кратко{x, [noiac]</text>
    <title l="en">Gameplay, Input-Output {CSettings{x</title>
    <title l="ru">{CНастройки{x игрового процесса, ввода-вывода</title>
    <title l="ua">Налаштування ігрового процесу, вводу-виводу</title>
  </help>
  <hint l="en">list of all settings</hint>
  <hint l="ru">список всех настроек</hint>
  <hint l="ua">список всіх налаштувань</hint>
  <name l="en">config</name>
  <name l="ru">режим</name>
  <name l="ua">режим</name>
  <order>player_only</order>
  <position>dead</position>
</Command>
