<?xml version="1.0" encoding="UTF-8"?>
<Command>
  <cat></cat>
  <extra>keep_hide ghost</extra>
  <help id="2224" level="102" type="CommandHelp">
  </help>
  <hint l="en"></hint>
  <hint l="ru">работа с плагинами</hint>
  <hint l="ua"></hint>
  <level>109</level>
  <log>1</log>
  <name l="en">plugin</name>
  <name l="ru"></name>
  <name l="ua"></name>
  <position>dead</position>
  <aliases l="en"></aliases>
  <aliases l="ru"></aliases>
  <aliases l="ua"></aliases>
</Command>
