<?xml version="1.0" encoding="UTF-8"?>
<skill type="GenericSkill">
  <affect type="DefaultAffectHandler">
    <cancelled>true</cancelled>
    <removeCharOthers>Сковавшая движения %1$C2 паутина растворяется.</removeCharOthers>
    <removeCharSelf>Сковавшая твои движения паутина растворяется.</removeCharSelf>
  </affect>
  <beats>12</beats>
  <classes>
    <node name="necromancer">
      <level>58</level>
      <maximum>100</maximum>
      <rating>1</rating>
    </node>
    <node name="warlock">
      <level>69</level>
      <maximum>100</maximum>
      <rating>1</rating>
    </node>
    <node name="witch">
      <level>65</level>
      <maximum>100</maximum>
      <rating>1</rating>
    </node>
  </classes>
  <dammsg></dammsg>
  <group registry="skillGroup">maladictions</group>
  <help id="852" level="-1" type="SkillHelp">
    <text l="en"></text>
    <text l="ru">%FMT% *%SPELL%* _%VICT%_

Это заклинание окутывает противника густой паутиной, сковывая его движения.
Успешно наброшенная паутина не дает жертве покинуть данную местность -- жертва
может разорвать путы после нескольких попыток пройти в каком-то из направлений.

{hh153Облачные гиганты{x и другие нематериальные или полуматериальные существа могут
выпутаться из паутины быстрее.
</text>
    <text l="ua"></text>
  </help>
  <mana>80</mana>
  <mob>
    <professional>true</professional>
  </mob>
  <nameRus>паутина</nameRus>
  <spell type="DefaultSpell">
    <damtype>energy</damtype>
    <flags>magic</flags>
    <position>fight</position>
    <target>char_room</target>
    <tier>2</tier>
    <type>offensive</type>
  </spell>
</skill>
